.background{
    background-image: url('images/3.jpg');
}


.text{

    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
}

.rp{

    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: left;
    text-decoration: none;
    
}